.menu-box {
    display: flex;
    flex-direction: column;
}
.type_selector {
    width: 20%;
    height: 100%;
}
.item-display {
    width: 80%;
}
.menu-type {
    height: 25%;
    width: 100%;
    border-style: line;
}