body {
    margin: 0;
}
.top_image {
    opacity: 0.8;
}
#main_content {
    width: 75%;
    margin: auto;
}
.header_container {
    position: relative;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    color: white;
    padding: 0px 40px;
}
footer{
    width: 100%;
    background-color: black; 
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer_row{
    height: auto;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.footer_address{
    width: 25%;
    text-align: center;
}
.footer_address p{
    color: aqua;
}
.footer_address h3{
    color: white;
}

.footer_newsletter{
    width: 25%;
    text-align: center;
}
.footer_newsletter h3{
    color: white;
}


.footer_contact_details {
    width: 50%;
    text-align: center;
}
.footer_contact_details p{
    color: aqua;
}
.footer_contact_details h3{
    color: white;
}
.social_links {
    text-align: center;
}

.s_media_icons {
    height: 30px;
    width: 30px;
    margin-left: 2%;
    margin-right: 2%;
}